<!--from flask import Flask, url_for-->

<html>
<head>
    <link rel="stylesheet" type="text/css" 
        href="{{url_for('static', filename='style.css')}}">
</head>

<body>

<h1>Edit {{item.name}} from {{restaurant.name}}</h1>

<form action="{{url_for('editMenuItem', restaurant_id=restaurant.id,
                            menuitem_id=item.id)}}"
method='POST' enctype='multipart/form-data' >

<p>Name: <input name='name' value={{item.name}} type='text'></p>

<p>Course: <input name='course' value={{item.course}} type='text'></p>

<p>Description: <input name='desc' value={{item.description}}  type='text'></p>

<p>Price: <input name='price' value={{item.price}}  type='text'></p>

<input type='submit' value='Save changes'>

</form>   

<a href={{url_for('restaurantMenu', restaurant_id=restaurant.id)}}> Cancel </a>

</body>

</html>




