<html>

<body>

<h1>New Menu Item</h1>

<div>

<h2>Enter information to create a new menu item</h2>

<form method='POST' enctype='multipart/form-data' action='/restaurant/newMenuItem'>

Name: <input name='name' type='text'></br>
Course: <input name='course' type='text'> </br>
Description: <input name='description' type='text'></br>
Price: <input name ='price' type='text'> </br>
Restaurant: <select name='restaurant_id'>

{% for r in restaurant %}
    
    <option value={{r.id}}> {{r.name}}</option>"  

    </br>
{%endfor%}

</select>"
</br>
</br><input type='submit' value='Save'> </p>
</form>"

</div>

</body>

</html> 


 output = ''
    output += '<h1> New Menu Item</h2> '
    output += 
    return output